@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-canvas: #16171D;
  --color-surface: #2A2B33;
  --color-text-primary: #F3F4F6;
  --color-accent: #B3BAA4;
  --color-light: #F1F5F9;
  --color-brand: #1D293D;
}

:root {
  font-family: 'Poppins', sans-serif;
  color: var(--color-text-primary);
  background-color: var(--color-canvas);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background-color: var(--color-canvas);
}